@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap);
@import url(https://use.fontawesome.com/releases/v5.4.1/css/all.css);

:root {
  --white: #ffffff;
  --dark: black;
  --light: white;
  --primary: #ebb658;
  --secondary: #fac384;
  --shadow-color: 249, 212, 35;
  --shadow: 1.4px 2.7px 3.6px rgba(var(--shadow-color), 0.017),
    3.8px 7.5px 10px rgba(var(--shadow-color), 0.025),
    9px 18.1px 24.1px rgba(var(--shadow-color), 0.033),
    30px 60px 80px rgba(var(--shadow-color), 0.05);
  --shadow-hover: 1.8px 3.7px 3.6px rgba(var(--shadow-color), 0.052),
    5px 10.1px 10px rgba(var(--shadow-color), 0.075),
    12.1px 24.4px 24.1px rgba(var(--shadow-color), 0.098),
    40px 81px 80px rgba(var(--shadow-color), 0.15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background-color: var(--light);
  color: var(--dark);
  margin: 0 auto;
  scroll-behavior: smooth;
  padding: 2rem 1rem;
}
html.dark-mode, body.dark-mode {
  background-color: var(--dark);
  color: var(--light);
}
/* Default scrollbar styles */
body::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: var(
    --scrollbar-thumb-color,
    #ccc
  ); /* Default thumb color */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

/* Dark mode scrollbar styles */
body.dark-mode::-webkit-scrollbar-thumb {
  background-color: var(
    --scrollbar-thumb-color,
    #333
  ); /* Dark mode thumb color */
}

/* Light mode scrollbar styles */
body.light-mode::-webkit-scrollbar-thumb {
  background-color: var(
    --scrollbar-thumb-color,
    #ccc
  ); /* Light mode thumb color */
}

/* Toggle Switch Styles */
.toggle-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ebb658;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.return {
  font-size: 20px;
  color: #ebb658;
  margin-top: -40px;
  margin-bottom: -40px;
}
.header-container {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-top: -60px;
  margin-bottom: -60px;
  margin-left: -25px;
}

.buttonhome {
  color: #ebb658;
  font-size: 20px;
  font-weight: 700;
  padding: 0.75rem 2rem;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 20px; /* Space between button and title */
  position: relative; /* For positioning the pseudo-element */
  text-decoration: none;
}

.buttonhome .material-icons {
  vertical-align: middle;
  margin-right: 5px; /* Space between icon and text */
}

.buttonhome .button-text {
  position: relative;
  display: inline-block;
  color: inherit; /* Ensure the text color is inherited */
}

.buttonhome .button-text::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px; /* Adjust the position as needed */
  left: 50%;
  background-color: #ebb658;
  transition: width 0.3s ease, left 0.3s ease;
}

.buttonhome:hover .button-text::before {
  width: 100%;
  left: 0;
}
#progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  z-index: 9999;
}

#progress-bar {
  height: 4px;
  background: linear-gradient(to right, #9f7b3c, #ebb658);
  width: 0;
  animation: progressBarAnimation 1s forwards;
}

@keyframes progressBarAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media (min-width: 992px) {
  html,
  body {
    padding: 2.5rem 5rem;
  }
}
.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 5rem 0 3rem;
}

.search {
  position: relative;
}
.search__input {
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  border: 2px solid var(--primary);
  background: var(--white);
  color: var(--dark);
  font-size: 16px;
  border-radius: 2rem;
  font-family: "Inter", sans-serif;
  transition: border 0.3s ease;
}
body.dark-mode .search__input{
  background-color: black;
  color: white;
}
.search__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  color: var(--primary);
  background: transparent;
  border: 0;
}

.button {
  color: #9f7b3c;
  font-size: 14px;
  font-weight: 700;
  padding: 0.75rem 2rem;
  font-family: "Inter", sans-serif;
  border-radius: 2rem;
  border: 2px solid #9f7b3c;
  background: transparent;
  cursor: pointer;
  transition: all 0.25s;
}
.button.--active {
  background: linear-gradient(to right, #9f7b3c, #ebb658);
  color: var(--light);
}
.button:hover {
  background: linear-gradient(to right, #9f7b3c, #ebb658);
  color: var(--light);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 1400px) {
  .grid {
    grid-template-columns: repeat(5, 1fr); /* Set to 5 columns */
    gap: 2rem; /* Adjust gap as needed */
  }
}

@keyframes slide-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--shadow);
  color: var(--dark);
  text-decoration: none;
  transition: all 0.25s;
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  width: 100%; /* Ensure cards take full width of column */
}
body.dark-mode .card {
  background: black;
  color: white;
}

.card.slide-up {
  animation: slide-up 0.7s forwards;
}

.card--inactive {
  display: none;
}

.card__picture {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  transition: background 0.25s;
}
.card__picture:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(var(--dark-rgb), 0) 25%,
    rgba(var(--dark-rgb), 0.7)
  );
  z-index: 1;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s;
}
.card__content {
  padding: 1.5rem 1rem; /* Reduce the padding */
  position: relative;
}
.card__title {
  font-size: 1.2rem; /* Reduce the font size */
  font-weight: 700;
  margin-bottom: 0.75rem; /* Reduce the margin */
  transition: color 0.3s ease;
}

.card__more {
  position: relative;
  margin: -0.75rem 0.75rem -0.75rem 0; /* Reduce the margin */
  height: 1.5rem; /* Reduce the size */
  width: 1.5rem; /* Reduce the size */
  border-radius: 50%;
  background: var(--secondary);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s;
  z-index: 2;
}
@media (min-width: 992px) {
  .card__more {
    margin: -1rem -1rem 0; /* Adjust the margin for larger screens */
  }
}
.card__location {
  display: none;
  font-size: 1rem; /* Reduce the font size */
  font-weight: 700;
  margin-bottom: 0.25rem; /* Reduce the margin */
  transition: color 0.3s ease;
}
.card__description {
  font-size: 0.9rem; /* Reduce the font size */
  line-height: 1.5;
  transition: color 0.3s ease;
}

.card:hover .card__image {
  transform: scale(1.05);
}
.card:hover .card__more {
  background-color: var(--primary);
}
.card:hover .card__title {
  color: #ebb658;
}
.card:hover .card__location {
  color: #ebb658;
}
.card:hover .card__description {
  color: #ebb658;
}
.grid .card.--inactive {
  display: none;
  opacity: 0;
  transform: translateY(50px);
  animation: none;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .buttonhome {
    font-size: 15px;
    margin-bottom: -60px;
  }
  .search__input {
    width: 330px;
  }
  .button {
    padding: 0.3rem 1rem;
  }
  .card__location {
    font-size: 12px;
    margin-top: -20px;
  }
  .card__title {
    font-size: 15px;
    margin-top: 5px;
  }
  .card__description {
    font-size: 10px;
    margin-top: -5px;
  }
  .card__content {
    padding: 2rem 0.4rem; /* Reduce the padding */
    position: relative;
  }
  .card {
    border-radius: 12px;
    height: 300px;
  }
  .nav-logo img {
   margin-left: -20px;
  }
}


nav {
    margin-top: -60px;
    margin-bottom: -60px;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    background-color: black;
  }
  nav .nav-main {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  nav .nav-main .nav-logo a,
  footer .footer-main .footer-content .footer-1 .footer-1-logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: white;
    background: linear-gradient(to right, #9f7b3c, #ebb658); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .nav-logo img {
    max-height: 60px; /* Adjust the height of the logo as needed */
    max-width: 100%; /* Ensure the logo maintains its aspect ratio */
    display: block; /* Ensure the image is displayed as a block-level element */
  }
  
  nav .nav-main .nav-mobile-menu {
    display: none;
    cursor: pointer;
  }
  nav .nav-main .nav-mobile-menu img {
    width: 100%;
    display: block;
  }
  
  nav .nav-main ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  nav.mobile-menu {
    margin-top: 40px;
    padding: 0px 15px;
    display: none;
  }
  nav.mobile-menu.active {
    display: block;
  }
  nav.mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
  }
  nav.mobile-menu ul:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #4f4f4f42;
  }
  nav.mobile-menu ul:last-child {
    padding-top: 10px;
  }
  nav.mobile-menu ul:last-child li:last-child {
    margin-top: 10px;
  }
  nav .nav-main ul li,
  nav.mobile-menu ul li {
    border-radius: 5px;
  }
  nav .nav-main ul li a,
  nav.mobile-menu ul li a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding: 12px 15px;
    border-radius: 5px;
    transition: 0.2s background ease;
  }
  nav .nav-main ul li a:hover,
  nav.mobile-menu ul li a:hover {
    background: rgb(128 128 128 / 23%);
    color: #ebb658;
  }
  nav .nav-main ul:last-of-type li:first-child a,
  nav.mobile-menu ul:last-of-type li:first-child a {
    font-weight: 600;
  }
  
  .material-icons {
    font-size: 36px; /* Adjust the size as needed */
    color: #ebb658; /* Adjust the color as needed */
    cursor: pointer; /* Change the cursor to a pointer */
  }
  
  nav .nav-main ul:last-of-type li:last-child a,
  nav.mobile-menu ul:last-of-type li:last-child a {
    color: #fff;
    font-weight: 600;
    background: linear-gradient(to right, #9f7b3c, #ebb658);
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  /* Hover effect */
  nav .nav-main ul:last-of-type li:last-child a:hover,
  nav.mobile-menu ul:last-of-type li:last-child a:hover {
    color: #fff; /* Ensures text color stays white */
    transform: scale(1.05); /* Slight enlargement */
  }
  
  nav .nav-main ul:last-of-type li:last-child a::before,
  nav.mobile-menu ul:last-of-type li:last-child a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: left 0.3s ease, transform 0.3s ease;
  }
  
  nav .nav-main ul:last-of-type li:last-child a:hover::before,
  nav.mobile-menu ul:last-of-type li:last-child a:hover::before {
    left: 100%;
    transform: scale(1.1); /* Slight enlargement */
  }
  
  footer {
    margin-top: 100px;
    margin-bottom: -100px;
    width: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    background-color: black;
  }
  footer .footer-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
  }
  footer .footer-main .footer-content {
    display: flex;
    column-gap: 50px;
  }
  footer .footer-main .footer-content .footer-1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  footer .footer-main .footer-content .footer-1 .footer-l-content,
  footer .footer-main .footer-content .footer-1 .footer-1-copyright {
    line-height: 20px;
    color: #6e6f6e;
    font-size: 15px;
  }
  footer .footer-main .footer-content .footer-2 {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  footer .footer-main .footer-content .footer-2 .footer-f1,
  footer .footer-main .footer-content .footer-2 .footer-f2 {
    display: flex;
    width: 50%;
  }
  footer .footer-main .footer-content .footer-2 .footer-2-1,
  footer .footer-main .footer-content .footer-2 .footer-2-2,
  footer .footer-main .footer-content .footer-2 .footer-2-3,
  footer .footer-main .footer-content .footer-2 .footer-2-4 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 50%;
  }
  footer .footer-main .footer-content .footer-2 .footer-2-1 .footer-2-1-title,
  footer .footer-main .footer-content .footer-2 .footer-2-2 .footer-2-2-title,
  footer .footer-main .footer-content .footer-2 .footer-2-3 .footer-2-3-title,
  footer .footer-main .footer-content .footer-2 .footer-2-4 .footer-2-4-title {
    font-size: 16px;
    color: #9f7b3c;
  }
  footer .footer-main .footer-content .footer-2 .footer-2-1 .footer-2-1-links,
  footer .footer-main .footer-content .footer-2 .footer-2-2 .footer-2-2-links,
  footer .footer-main .footer-content .footer-2 .footer-2-3 .footer-2-3-links,
  footer .footer-main .footer-content .footer-2 .footer-2-4 .footer-2-4-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  footer
    .footer-main
    .footer-content
    .footer-2
    .footer-2-1
    .footer-2-1-links
    li
    a,
  footer
    .footer-main
    .footer-content
    .footer-2
    .footer-2-2
    .footer-2-2-links
    li
    a,
  footer
    .footer-main
    .footer-content
    .footer-2
    .footer-2-3
    .footer-2-3-links
    li
    a,
  footer
    .footer-main
    .footer-content
    .footer-2
    .footer-2-4
    .footer-2-4-links
    li
    a {
    text-decoration: none;
    color: #6e6f6e;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  footer
    .footer-main
    .footer-content
    .footer-2
    .footer-2-1
    .footer-2-1-links
    li
    a:hover,
  footer
    .footer-main
    .footer-content
    .footer-2
    .footer-2-2
    .footer-2-2-links
    li
    a:hover,
  footer
    .footer-main
    .footer-content
    .footer-2
    .footer-2-3
    .footer-2-3-links
    li
    a:hover,
  footer
    .footer-main
    .footer-content
    .footer-2
    .footer-2-4
    .footer-2-4-links
    li
    a:hover {
    color: #ebb658;
  }
  footer .footer-main .footer-text {
    width: 100%;
    text-align: center;
  }
  footer .footer-main .footer-content .footer-1 .footer-1-copyright a {
    text-decoration: none;
    color: #6e6f6e;
    font-weight: 600;
  }


  @media only screen and (max-width: 900px) {
    main section.section-1 {
      padding: 25px 0px 50px 0px;
      height: 85vh;
      background-image: linear-gradient(
          to top,
          RGBA(0, 0, 0, 0.2),
          RGBA(0, 0, 0, 0.8)
        ),
        url("Cover image 2.jpg");
      background-position: center left 40%;
      background-size: 250%;
    }
  
    main section.section main section.section-1 .section-1-main {
      flex-direction: column-reverse;
      row-gap: 35px;
    }
    main section.section-2 {
      padding: 50px 0px;
    }
    main
      section.section-2
      .section-2-main
      .section-2-1
      .section-2-1-main
      .section-2-1-body
      .cards {
      column-gap: 25px;
    }
    main section.section-2 .section-2-main .section-2-2 {
      flex-direction: column;
      row-gap: 35px;
    }
    main section.section-2 .section-2-main .section-2-2 .section-2-2-content,
    main section.section-2 .section-2-main .section-2-2 .section-2-2-img {
      width: 100%;
    }
    main section.section-1 .section-1-main .section-1-content,
    main section.section-1 .section-1-main .section-1-img {
      width: 100%;
    }
    main section.section-2 .section-2-main {
      row-gap: 50px;
    }
    main section.section-2 .section-2-main .section-2-3 .section-2-3-main .cards {
      flex-direction: column;
      row-gap: 25px;
    }
    footer {
      padding: 35px 0px;
    }
    footer .footer-main .footer-content {
      flex-direction: column;
      row-gap: 30px;
    }
    footer .footer-main .footer-content .footer-1,
    footer .footer-main .footer-content .footer-2 {
      width: 100%;
    }
  
    main section.section-login .section-login-1 .section-login-1-main,
    main section.section-login .section-login-2 .section-login-2-main {
      width: 90%;
    }
    main section.section-login .section-login-1 .section-login-1-main {
      height: 90%;
    }
    main
      section.section-login
      .section-login-1
      .section-login-1-main
      .section-login-1-title,
    main
      section.section-login
      .section-login-1
      .section-login-1-main
      .section-login-1-form {
      margin-top: 25px;
    }
  
    .cardtesti {
      transform: translateX(-50%); /* Adjust starting position */
      opacity: 0;
    }
  
    .tcard {
      transform: translateX(-40%);
      opacity: 0;
    }
  
    .reveal-right {
      animation: slide-right 1.5s cubic-bezier(0, 0, 0.1, 1) forwards;
    }
  
    .reveal-left {
      animation: slide-left 1.5s cubic-bezier(0, 0, 0.1, 1) forwards;
    }
  
    @keyframes slide-left {
      from {
        transform: translateX(-50%);
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    @keyframes slide-right {
      from {
        transform: translateX(-40%);
        opacity: 0; /* Ensure opacity is set to 0 at the start */
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    .reveal-down1 {
      animation: fade-in 1s ease forwards,
        slide-down 1.5s cubic-bezier(0, 0, 0.1, 1) forwards;
    }
    @keyframes fade-in {
      to {
        opacity: 1;
      }
    }
  
    @keyframes slide-down {
      from {
        transform: translateY(100px);
      }
    }
  }
  
  @media only screen and (max-width: 600px) {
    nav .nav-main .nav-mobile-menu {
      display: block;
    }
    .footer{
        margin-top: -100px;
    }
    nav .nav-main ul {
      display: none;
    }
    nav.mobile-menu ul:last-of-type li:last-child a {
      margin-left: unset;
    }
  
    footer .footer-main .footer-content .footer-2 {
      flex-direction: column;
      row-gap: 25px;
    }
    footer .footer-main .footer-content .footer-2 .footer-f1,
    footer .footer-main .footer-content .footer-2 .footer-f2 {
      width: 100%;
    }
    main section.section-2 .section-2-main .section-2-2 {
      padding: 35px 35px 0px 35px;
    }
    main
      section.section-2
      .section-2-main
      .section-2-2
      .section-2-2-content
      .section-2-2-link {
      width: 100%;
      text-align: center;
    }
    main
      section.section-2
      .section-2-main
      .section-2-1
      .section-2-1-main
      .section-2-1-body
      .cards {
      flex-direction: column;
      row-gap: 35px;
    }
    main
      section.section-2
      .section-2-main
      .section-2-1
      .section-2-1-main
      .section-2-1-body
      .cards
      .card {
      row-gap: 10px;
    }
    main section.section-2 .section-2-main .section-2-1 .section-2-1-main {
      row-gap: 40px;
    }
    main section.section-1 .section-1-main .section-1-content .section-1-lists {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 12px;
    }
  
    main section.section-login .section-login-2 {
      display: none;
    }
    main section.section-login .section-login-1 {
      width: 100%;
    }
  }

  @media(width <768px)
  {
    footer{
        margin-top: -100px;
        margin-bottom: 0px;
    }
    nav{
      margin-top: -60px;
      margin-bottom: -60px;
    }
  }


  .location-container {
    display: flex;
    align-items: center; /* Vertically aligns items */
}